<div class="stream-info">
  <div class="stream-desc">

    <h1>Channel Description</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus libero eu tellus ornare ultrices. Donec scelerisque pharetra metus et aliquam. Duis sed tristique nisi, in semper diam. Donec malesuada nec justo sit amet semper. Vivamus ut leo in erat elementum consequat. Proin id erat sodales, laoreet nibh vitae, sodales diam. Vestibulum eu erat at arcu sodales faucibus nec non orci. Donec aliquam dui eget mi scelerisque, consectetur eleifend felis gravida. In vestibulum pellentesque nulla, sit amet semper eros cursus vel. Cras in ex metus. Suspendisse neque purus, suscipit ac tincidunt vitae, ultricies ac purus.0</p>
    <p>Praesent id sapien fermentum, fringilla lectus ut, rhoncus leo. Suspendisse eu mi est. Ut nec elit a ligula dictum rutrum vel quis nibh. Sed vitae nisi nunc. In luctus nisi in urna facilisis egestas. In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

    <p>Integer rutrum, mi nec cursus luctus, metus dui hendrerit ante, et vehicula elit nisl vel sem. Integer lacinia nisl ante, sit amet sagittis sapien tincidunt non. Sed ac tortor nec leo ornare rhoncus eget nec justo. Proin sit amet volutpat odio. Curabitur consectetur fermentum urna, nec tempus est tempus eu. Ut viverra egestas malesuada. Nunc porta ac tellus in rutrum. Nullam ornare tellus libero, ut convallis ex tempor ac. Mauris tincidunt rutrum dignissim. In in condimentum quam. Suspendisse justo massa, commodo ut metus ut, malesuada aliquet tellus. Suspendisse aliquet iaculis purus eget consectetur.</p>
  </div>

  <div class="stream-comments"></div>
</div>
