.stream-wrap-container {
  box-shadow: 0 0 31px -4px #607d8b;
  background-color: rgba(250, 250, 250, 0.93);
  //border-radius: 24px;
  padding-bottom: 10px;
  //min-height: 100vh;


  position: relative;
  display: flex;
  width: 100%;
  background-color: #000;
  font-size: 0;
  z-index: 1;



  flex-direction: row;
  align-items: stretch;
  height: calc(100vh - 60px - 128px);
}


.video {
  position: relative;
  width: 100%;
  //padding-bottom: 56.25%; /* 16:9 */
  //height: 0;
  height: 100%;
  //height: fit-content;
}
.video iframe, {
  position: absolute;
  top: 0;
  left: 0;
  //right: 0;
  width: 100%;
  height: 100%;
}

.player {
  height: 100%;
  flex-grow: 4;
  position: relative;
  //display: flex;
  //justify-content: center;
  //flex-direction: column;
  background-color: #9c27b0;
  //width: 100%;
}

.chat {
  flex-basis: 411px;
  flex-grow: 0;
}


