<!--<p>movie-card works!</p>-->

<!--  <h2>{{movie.title}}</h2>-->


<!--<div class="movie-card">-->

<a routerLink="/movie/{{movie.id}}" [state]="stars">

<!--  background: linear-gradient(0deg, rgb(0 0 0) 0%, rgb(255 255 255 / 0%) 29%), url(https://image.tmdb.org/t/p/w300//aKx1ARwG55zZ0GpRvU2WrGrCG9o.jpg);-->

  <mat-card [ngStyle]="{'background': 'linear-gradient(0deg, rgb(0 0 0) 0%, rgb(255 255 255 / 0%) 40%), url(https://image.tmdb.org/t/p/w300/' + poster + ')'}">
<!--    <img mat-card-image alt='The movie titled {{movie.title}}' src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" *ngIf="movie.poster_path"/>-->
<!--    <img mat-card-image alt="poster" src="https://image.tmdb.org/t/p/w300//nmDqvEL5tqbjhbUEFSCQlZnXock.jpg" *ngIf="!movie.poster_path">-->

    <div class="card-content">
      <h2>{{movie.title}}</h2>
      <span>{{movie.release_date | date: 'yyyy'}}</span>

      <!--        <span class="float-right"><mat-icon>star</mat-icon>9.8<mat-icon>star_rate</mat-icon>9.8<mat-icon>star_border</mat-icon>9.8</span>-->
      <span class="float-right">
        <mat-icon *ngFor="let star of stars">{{star}}</mat-icon>
      </span>
    </div>



<!--    <mat-card-content>-->
<!--      <h2>{{movie.title}}</h2>-->
<!--      <span>{{movie.release_date | date: 'yyyy'}}</span>-->

<!--      &lt;!&ndash;        <span class="float-right"><mat-icon>star</mat-icon>9.8<mat-icon>star_rate</mat-icon>9.8<mat-icon>star_border</mat-icon>9.8</span>&ndash;&gt;-->
<!--      <span class="float-right">-->
<!--        <mat-icon *ngFor="let star of stars">{{star}}</mat-icon>-->
<!--      </span>-->
<!--      &lt;!&ndash;        <span class="float-right"><mat-icon>star</mat-icon>9.8</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        <h2 class="float-right"><mat-icon>star</mat-icon>9.8<mat-icon>star_rate</mat-icon><mat-icon>star_border</mat-icon></h2>&ndash;&gt;-->
<!--    </mat-card-content>-->
  </mat-card>

  <!--    <div>-->
  <!--      <img width="200" alt='The movie titled {{movie.title}}'-->
  <!--           src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" *ngIf="movie.poster_path"/>-->
  <!--      <div class="desc">-->
  <!--        <h2>{{movie.title}}</h2>-->
  <!--&lt;!&ndash;        <p>{{movie.release_date | date : 'yyyy'}}</p>&ndash;&gt;-->
  <!--&lt;!&ndash;        <p>{{movie.release_date}}</p>&ndash;&gt;-->
  <!--        &lt;!&ndash;      <small class="label label-success pull-right" *ngIf="movie.vote_average">&ndash;&gt;-->
  <!--        &lt;!&ndash;        {{movie.vote_average}}&ndash;&gt;-->
  <!--        &lt;!&ndash;        <i class="glyphicon glyphicon-star"></i>&ndash;&gt;-->
  <!--        &lt;!&ndash;      </small>&ndash;&gt;-->
  <!--      </div>-->
  <!--    </div>-->

</a>
<!--</div>-->
