mat-toolbar {
  //background-color: #0d253f;
  //color: white;
  height: 40px;
  //position: fixed;
  //top: 0;
  //z-index: 99;

  background-color: #333852;
  span {
    color: white;
    font-size: 14px;
  }

  .example-icon mat-icon {
    color: white;
  }

  .mat-icon {
    color: #3F51B5;
    //margin-right: 4px;
  }

  .inner-header {
    height: 40px;
    background-color: transparent !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 800px;
    width: 850px;
    //height: 100%;
    //display: block;
    margin: 0 auto;
    background-color: #3F51B5;
    max-width: 90%;
    //background: linear-gradient(to right, #ffffff99 0%, #ffffffe3 100%), url(https://image.tmdb.org/t/p/original//zzWGRw277MNoCs3zhyG3YmYQsXv.jpg);
    //background-repeat: no-repeat;
    //background-attachment: fixed;

    .sign:hover {
      text-decoration: underline;
    }

    .logo {
      font-size: 0.85em;

      mat-icon {
        margin-right: 4px;

      }
    }





    .dropdown {
      position: relative;
      display: inline-block;
      padding: 2px 0;


      &:hover {
        .dropdown-content {
          display: block;


        }

        .genre-dropdown-content {
          display: flex;
          width: 550px;
          flex-wrap: wrap;
          justify-content: flex-start;
        }
      }

      .dropdown-content {
        a {
          &:hover {
            background-color: #ddd;
          }
        }
      }

      .dropdown-content, .genre-dropdown-content {
        display: none;
        position: absolute;
        //background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 7px;
        padding: 5px;
        top: 40px;
        background-color: #f1f1f1f2;

        a {
          color: black;
          //padding: 12px 16px;
          text-decoration: none;
          display: block;
          //float: none;
          //padding: 12px 16px;
          //text-align: left;
          font-weight: 400;
          font-size: 1rem;
          //font-size: .9rem;
          border-radius: 7px;

          //white-space: nowrap;
          //overflow: hidden;
          //text-overflow: ellipsis;
          //display: block;
          line-height: 46px;
          height: 46px;
          padding: 0 16px;
          text-align: left;
          //text-decoration: none;
          //max-width: 100%;
          //position: relative;
        }
      }

      .genre-dropdown-content {
        //padding: 9px 14px;
        padding: 9px 0px 9px 11px;

        a {
          //padding: 0 14px;
          margin: 1px;
          padding: 0 0 0 13px;
        }

        .genre-dropdown-content-link {
          width: 24%;
        }

      }

    }
  }
}

:host {
  overflow-y: scroll;

}

ul {
  list-style: none;
}

@media screen and (max-width: 600px) {
  .link-container {
    display: none;
  }

  .logo {
    display: none;
  }

  #form {
    width: 90%;
  }

  #form input {
    width: 100% !important;
  }

  .inner-header {
    justify-content: center;
  }

  .nav-link {
    display: block !important;
  }
}

.genre-link:hover {
  //background-color: #9da6d987;
  //background-color: #9da6d966!important;
  background-color: #3f51b51a;
}

.genre-link.active {
  background-color: #3f51b51a;
}

.movieTitle:focus {
  //color: red!important;
  outline: none !important;
  background-color: #3f51b51a;
}
