<mat-toolbar>

  <div class="inner-header">

<!--    <span>&copy; 2020 - 2021</span>-->
<!--    <span>&copy; All right reserved</span>-->
<!--    <div class="link-container">-->

<!--      p-->

<!--      &lt;!&ndash;      <a mat-button routerLink="/streams"> {{!!auth.getCurrentUser()}} </a>&ndash;&gt;-->
<!--      &lt;!&ndash;            <a mat-button routerLink="/streams"> Streams </a>&ndash;&gt;-->
<!--      &lt;!&ndash;      <a mat-button routerLink="/streams"> {{auth.user$.getValue() ? auth.user$.getValue().uid: null}} </a>&ndash;&gt;-->
<!--      &lt;!&ndash;      <a mat-button routerLink="/streams"> {{auth.getCurrentUser() ? auth.getCurrentUser().uid: null}} </a>&ndash;&gt;-->


<!--      &lt;!&ndash;      <button mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">&ndash;&gt;-->
<!--      &lt;!&ndash;        Movies&ndash;&gt;-->
<!--      &lt;!&ndash;        &lt;!&ndash;        <mat-icon>arrow_drop_down</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--      &lt;!&ndash;      </button>&ndash;&gt;-->
<!--      &lt;!&ndash;      <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--      &lt;!&ndash;              <span (mouseleave)="menuTrigger.closeMenu()">&ndash;&gt;-->

<!--      &lt;!&ndash;&lt;!&ndash;        <a mat-button routerLink="/popular"> Movies </a>&ndash;&gt;&ndash;&gt;-->
<!--      &lt;!&ndash;        <a routerLink="/popular" mat-menu-item>Popular</a>&ndash;&gt;-->
<!--      &lt;!&ndash;        <a routerLink="/top" mat-menu-item>Top Rated</a>&ndash;&gt;-->
<!--      &lt;!&ndash;        <a routerLink="/upcoming" mat-menu-item>Upcoming</a>&ndash;&gt;-->
<!--      &lt;!&ndash;        </span>&ndash;&gt;-->
<!--      &lt;!&ndash;      </mat-menu>&ndash;&gt;-->
<!--      &lt;!&ndash;      <a mat-button routerLink="/top"> Top Rated </a>&ndash;&gt;-->
<!--      &lt;!&ndash;      <a mat-button routerLink="/upcoming"> Upcoming </a>&ndash;&gt;-->
<!--    </div>-->

c

  </div>
</mat-toolbar>
