.chat-msg {
  padding: 10px 30px;
  color: #b3b3b3;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  line-height: 150%;
  word-wrap: break-word;
}

.chat-messages-list {
  height: calc(100vh - 180px - 128px);
  overflow: hidden;
  overflow-y: scroll;
}
