<mat-toolbar color="primary">
  <button *ngIf="isHandset$ | async" (click)="sidenav.toggle()" mat-icon-button class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
<!--  <a mat-button [routerLink]="'/popular'">  Movie Finder </a>-->
  <div class="inner-header">
<!--    <mat-icon>movie</mat-icon>-->
<!--      <a mat-button [routerLink]="'/popular'">  Movie Finder </a>-->

<!--    <div>movi</div>-->
    <div class="link-container">

<!--      <mat-icon>movie</mat-icon>-->

<!--      <a mat-button [routerLink]="'/popular'"> <mat-icon>movie</mat-icon> </a>-->
      <a mat-button [routerLink]="'/popular'"> Popular </a>
      <a mat-button [routerLink]="'/top'"> Top Rated </a>
      <a mat-button [routerLink]="'/upcoming'"> Upcoming </a>
    </div>

    <form id="form" autocomplete="off">
      <button type="submit" (click)="onSubmit(inputElement.value)">
        <svg viewBox="0 0 1024 1024">
          <path class="path1"
                d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path>
        </svg>
      </button>
      <input #inputElement placeholder="Search..." [style.width]="width" [style.transition]="transition"
             (click)="onFocus()" (focusout)="onFocusout($event)" (keydown.arrowUp)="false"
             (keyup)="onKeyUpEvent($event)">

      <div *ngIf="inputElement.value" class="search-results" (mouseover)="isHide=false" (mouseout)="isHide=true"
           [style.display]="display">
        <div matRipple #movieTitle class="movieTitle" (mouseover)="onMouseOver(i)"
             (click)="navigateToMovie(movie.id)"
             *ngFor="let movie of movies | slice:0:5; let i=index; trackBy: trackByFn">{{movie.title}}</div>
      </div>
    </form>

  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [autoFocus]="false" [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [ngClass]="{'hidden': !(isHandset$ | async)}"
               [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a class="nav-link" mat-list-item routerLink="/popular" routerLinkActive="active">Popular</a>
      <a class="nav-link" mat-list-item routerLink="/top" routerLinkActive="active">Top Rated</a>
      <a class="nav-link" mat-list-item routerLink="/upcoming" routerLinkActive="active">Upcoming</a>
      <a class="genre-link" mat-list-item *ngFor="let genre of genres" routerLink="/genres/{{genre.id}}/{{genre.name}}/"
         routerLinkActive="active">{{genre.name}} </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
