<div class="stream-meta-wrapper">
  <div class="stream-meta">
    <div class="stream-meta__title">
<!--      What show should I begin next? <3-->
<!--      What show should I begin next? B-)-->
<!--      What's next? B-)-->
      Stream Title
    </div>
    <a href="#" class="stream-meta-streamer">

<!--      <img src="" alt="" class="stream-meta-streamer__avatar">-->
      <div class="stream-meta-streamer__nickname">Nickname</div>
      <div class="stream-meta-streamer__status">В эфире 5 часов 2 минуты
      </div>

    </a>

    <div class="stream-meta-buttons">
      <button class="btn btn-subscribe">subscribe <span>15978</span></button>
      <button class="btn btn-donate">donate</button>
    </div>
  </div>
</div>
