/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%;
  min-width: 327px;
}
body {
  //overflow-y:scroll;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  //border-radius: 10px !important;
}



//* {
//-ms-overflow-style: none;  /* IE and Edge */
//scrollbar-width: none;  /* Firefox */
//}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}
.mat-form-field-infix{
  border-top: 0.25em solid transparent;

}

.mat-form-field-prefix {
  top: 6px;
  margin-right: 7px;
}

.mat-tab-label .mat-tab-label-content {
  //display: inline-flex;
  //justify-content: center;
  //align-items: center;
  //white-space: nowrap;
  color: black !important;
  font: 500 20px/32px Roboto,Helvetica Neue,sans-serif !important;
}

.mat-tab-body-wrapper{
  padding: 20px;
  flex-grow: 1;
}

.mat-card-image:first-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
