<div class="movie-container" *ngIf="personDetail">
  <div class="img-container">
    <img src="https://image.tmdb.org/t/p/w500/{{personDetail.profile_path}}" alt="poster"
         *ngIf="personDetail.profile_path">
    <img src="https://image.tmdb.org/t/p/w300//nmDqvEL5tqbjhbUEFSCQlZnXock.jpg"
         alt="poster" *ngIf="!personDetail.profile_path">
  </div>
  <div class="content-container">
    <h1>{{personDetail.name}}</h1>

    <p *ngIf="personDetail.birthday"><span>Born:</span> {{personDetail.birthday}} in {{personDetail.place_of_birth}}</p>

    <h2 class="bio" *ngIf="personDetail.biography">Biography</h2>
    <p class="overview">
      {{personDetail.biography}}
    </p>
  </div>
</div>

<div>
  <app-movies></app-movies>
</div>
